<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <title>博客主页</title>
</head>
<body>
	<header>
		<img src="public/img/banner.jpg" width="100%" height="125px">
	</header>
	<nav class="navbar navbar-default" > 
		<div class="navbar-header" style="margin:0 20px">
			<button type="button" class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" >  <!-- data-target指示要切换到哪一个元素 -->
				<span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>  <!-- 三根线 -->
			</button>
			<span><a href="javascript:;" class=""><img src="public/img/blog.jpg" class="img-responsive"  height="50px"></a></span>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="javascript:;">HTML</a></li>
				<li><a href="javascript:;">CSS</a></li>
				<li><a href="javascript:;">JAVASCRIPT</a></li>
				<li><a href="javascript:;">BOOTSTRAP</a></li>
				<li><a href="javascript:;">NODEJS</a></li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="main">
					<div class="listBox">
						<h2>文章标题</h2>
						<p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentntcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentntcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentntcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
						<span>admin</span>
						<span>2017/10/10</span>
						<div class="clear"></div>   <!--清除浮动-->
					</div>
					<div class="listBox">
						<h2>文章标题</h2>
						<p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentntcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentntcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentntcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
						<span>admin</span>
						<span>2017/10/10</span>
						<div class="clear"></div>
					</div>
					<div class="listBox">
						<h2>文章标题</h2>
						<p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentntcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentntcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentntcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
						<span>admin</span>
						<span>2017/10/10</span>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<!-- <div class="box admin">
				</div> -->

				<div class="panel panel-info" id="userInfo">
				    <div class="panel-heading">
				        <h3 class="panel-title">用户信息</h3>
				    </div>
				    <div class="panel-body">
				        <p>
							亲爱的xx，你好！
						</p>
						<p class="text-right" style="padding: 0;margin: 0;">
							<span><a href="">管理账户</a></span>
							<span><a href="">退出</a></span>
						</p>
				    </div>
				</div>

				<div class="panel panel-info" id="login">
				    <div class="panel-heading">
				        <h3 class="panel-title">登陆</h3>
				    </div>
				    <div class="panel-body">
				    	<form action="">
					     	<div class="input-group">
						        <span class="input-group-addon">用户名</span>
						        <input type="text" class="form-control">
						    </div><br>
						    <div class="input-group">
						        <span class="input-group-addon">密&nbsp&nbsp&nbsp码</span>
						        <input type="password" class="form-control">
						    </div><br>
						    <button type="submit" class="btn btn-info">确认登陆</button>
						    <span><a href="#" style="font-size: 12px;vertical-align: bottom;text-align: right;">马上注册</a></span>
						</form>
				    </div>
				</div>

				<div class="panel panel-info" id="register">
				    <div class="panel-heading">
				        <h3 class="panel-title">注册</h3>
				    </div>
				    <div class="panel-body">
				        <form action="">
					     	<div class="input-group">
						        <span class="input-group-addon">&nbsp用&nbsp户&nbsp名</span>
						        <input type="text" class="form-control">
						    </div><br>
						    <div class="input-group">
						        <span class="input-group-addon">&nbsp密&nbsp&nbsp&nbsp&nbsp&nbsp码</span>
						        <input type="password" class="form-control">
						    </div><br>
						    <div class="input-group">
						        <span class="input-group-addon">确认密码</span>
						        <input type="password" class="form-control">
						    </div><br>
						    <button type="submit" class="btn btn-info">确认注册</button>
						    <span><a href="#" style="font-size: 12px;vertical-align: bottom;text-align: right;">马上登录</a></span>
						</form>
				    </div>
				</div>

				<div class="panel panel-info" id="community">
				    <div class="panel-heading">
				        <h3 class="panel-title">社区</h3>
				    </div>
				    <div class="panel-body">
				        <p><a href="http://www.zhihu.com">知乎</a></p>
				        <p><a href="http://www.github.com">Github</a></p>
				    </div>
				</div>

			</div>
		</div>
	</div>

<script src="public/js/index.js"></script>
<script src="public/js/jquery.js"></script>
<script src="public/js/bootstrap.min.js"></script>
</body>
</html>