{% extends 'layout.html' %} 
{%block main%}
<div class="col-md-8">
	<div class="main">
		{% for content in contents%}
		<div class="listBox">
			<h2>{{content.title}}</h2>
			<p>{{content.description}}</p>
			<button class="btn btn-info btn-md"><a style="color:aliceblue;"  href="/view?contentId={{content.id}}">阅读原文</a></button>
			<span>评论数：10</span>
			<span>阅读量：{{content.view}}</span>
			<span>{{content.addTime|date('Y-m-d H:i:s', -8*60)}} </span>
			<span>{{content.user}} 发布于</span>
			<div class="clear"></div>   <!--清除浮动-->
		</div>
		{% endfor %}
	</div>
	<!-- 引入分页模块 -->
	<nav>
		<ul class="pager">
			
			{%if page == 1%}
			<li><span>没有上一页</span></li>
			{%else%}
			<li><a href="/?category={{category}}&page={{page-1}}">上一页</a></li>
			{%endif%}
			
			{%if pages == 0%}
			<li><span>没有内容</span></li>
			{%else%}
			<li>{{page}}/{{pages}}</li>
			{%endif%}

			{%if page >= pages%}
			<li><span>没有下一页</span></li>
			{%else%}
			<li><a href="/?category={{category}}&page={{page+1}}">下一页</a></li>
			{%endif%}
	
		</ul>
	</nav>
	
</div>
{%endblock%}